/* thanks skeet gamesense xD for the font + title idea */
* {
  outline: none !important;
  overflow: hidden;
  -webkit-user-select: none; /* Safari 3.1+ */
  -moz-user-select: none; /* Firefox 2+ */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Standard syntax */
}

body {
	background-color: #101010;
	background-size: cover;
	font-family: 'Raleway', sans-serif;
}

.container {
  text-align: center;
  background-color: #222;
  opacity: 1;
  width: 420px;
  height: 420px;
  overflow: hidden;
  position: absolute;
  border: 3px solid #3a3a3a;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
  border-radius: 25px;
  -webkit-transform: translateY(-50%);
       -o-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

body pre {
	animation: rainbow 3s infinite;
}

.title {
	margin-top: 25px;
}

.title h1 {
	text-align: center;
    margin: 0 auto;
    padding: 0;
    font-size: 62pt;
    font-weight: normal;
	height: 120px;
	animation: rainbow 3s infinite; 
}

.title h2 {
	margin-top: -38px;
    margin-left: 200px;
    padding: 0;
    text-align: center;
    font-size: 9pt;
	animation: rainbow 3s infinite; 
}

.title h3 {
	font-size: 16px;
	padding: 5px;
	color: #fff;
}

.more {
	position: relative;
	margin-top: 10px;
	padding: 10px;
}

.price {
    position: relative;
    padding: 3px;
    animation: rainbow 3s infinite;
}

.discord {
    position: relative;
    padding: 3px;
    animation: rainbow 3s infinite;
}

.price h1 {
    color: #fff;
    font-size: 12pt;
}

.price h2 {
    color: #fff;
    font-size: 10px;
    font-family: 'Mina', sans-serif;

}

.user i {
	font-size: 36px;
	color: #fff;
	padding: 7px;
}

.radar {
	text-shadow: 0 0 1px rgba(230, 0, 0, 0.4), 1px 1px 1px rgba(0, 0, 0, 0.2);
	color:  #c80000;
	font-weight: 450;
	cursor: pointer;
	transition: all 1s ease-in-out;
	padding: 2px;
}

.radar a {
    text-decoration: none;
    color: #c80000;
    transition: all 1s ease-in-out;
}

.ream {
	text-shadow: 0 0 1px rgba(43, 84, 171, 0.4), 1px 1px 1px rgba(0, 0, 0, 0.2);
	color:  #2B54AB;
	font-weight: 450;
	cursor: pointer;
	transition: all 1s ease-in-out;
	padding: 2px;
}

.ream a {
    text-decoration: none;
    color: #2B54AB;
    transition: all 1s ease-in-out;
}

.skies {
	text-shadow: 0 0 1px rgba(67, 229, 59, 0.4), 1px 1px 1px rgba(0, 0, 0, 0.2);
	color:  #43E53B;
	font-weight: 450;
	cursor: pointer;
	transition: all 1s ease-in-out;
	padding: 2px;
}

.skies a {
    text-decoration: none;
    color: #43E53B;
    transition: all 1s ease-in-out;
}

.euan {
	text-shadow: 0 0 1px rgba(59, 229, 206, 0.4), 1px 1px 1px rgba(0, 0, 0, 0.2);
	color:  #3BE5CE;
	font-weight: 450;
	cursor: pointer;
	transition: all 1s ease-in-out;
	padding: 2px;
}

.euan a {
    text-decoration: none;
    color: #3BE5CE;
    transition: all 1s ease-in-out;
}

.euan a:hover {
	color: #fff;
	transition: all 1s ease-in-out;
}

.skies a:hover {
	color: #fff;
	transition: all 1s ease-in-out;
}

.ream a:hover {
	color: #fff;
	transition: all 1s ease-in-out;
}
	
.radar a:hover {
  color: #fff;
  transition: all 1s ease-in-out;
}

.radar

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
	7%{color: red;}
	14%{color: orange;}
	21%{color: yellow;}
	28%{color: green;}
	35%{color: blue;}
	42%{color: indigo;}
	49%{color: violet;}
	56%{color: violet;}
	63%{color: indigo;}
	70%{color: blue;}
	77%{color: green;}
	84%{color: yellow;}
	91%{color: orange;}
	98%{color: red;}
}
/* Internet Explorer */
@-ms-keyframes rainbow{
	7%{color: red;}
	14%{color: orange;}
	21%{color: yellow;}
	28%{color: green;}
	35%{color: blue;}
	42%{color: indigo;}
	49%{color: violet;}
	56%{color: violet;}
	63%{color: indigo;}
	70%{color: blue;}
	77%{color: green;}
	84%{color: yellow;}
	91%{color: orange;}
	98%{color: red;}
}

/* Standard Syntax */
@keyframes rainbow{
	7%{color: red;}
	14%{color: orange;}
	21%{color: yellow;}
	28%{color: green;}
	35%{color: blue;}
	42%{color: indigo;}
	49%{color: violet;}
	56%{color: violet;}
	63%{color: indigo;}
	70%{color: blue;}
	77%{color: green;}
	84%{color: yellow;}
	91%{color: orange;}
	98%{color: red;}
}

/* Volume Slider */
input[type=range] {
  height: 5px;
  -webkit-appearance: none;
     -moz-appearance: none;
  margin: 0.5% 0;
  width: 65%;
  background: none;
  border: none;
  position: absolute;
  left: 18%;
  }
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0 0 25px #800020;
  background: #990026;
  border-radius: 14px;
  border: 0 solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0 0 10px #000000;
  border: 0 solid #000000;
  height: 7px;
  width: 15px;
  border-radius: 14px;
  background: #000000;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
  margin-top: 0;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #990026;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  box-shadow: 0 0 25px #800020;
  background: #990026;
  border-radius: 14px;
  border: 0 solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0 0 10px #000000;
  border: 0 solid #000000;
  height: 7px;
  width: 15px;
  border-radius: 14px;
  background: #000000;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #990026;
  border: 0 solid #000000;
  border-radius: 28px;
  box-shadow: 0 0 10px #800020;
}
input[type=range]::-ms-fill-upper {
  background: #990026;
  border: 0 solid #000000;
  border-radius: 28px;
  box-shadow: 0 0 10px #800020;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0 0 10px #000000;
  border: 0 solid #000000;
  height: 7px;
  width: 15px;
  border-radius: 14px;
  background: #000000;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #990026;
}
input[type=range]:focus::-ms-fill-upper {
  background: #990026;
}
