@font-face {
    font-family: 'XOXOGlow';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/XOXOGlowRegular.otf');
    src: url('fonts/XOXOGlowRegular.ttf') format('truetype');
    -webkit-font-smoothing: aliased;
    font-smooth: never;
}

@font-face {
	font-family: 'Zipper';
	font-style: normal;
    font-weight: 400;
    src: url('fonts/Zipper-Regular.otf');
    src: url('fonts/Zipper-Regular.ttf') format('truetype');
    -webkit-font-smoothing: aliased;
    font-smooth: never;
}

* {
	user-select: none;
}

body {
	background: url('background.png');
	background-size: cover;
}

fieldset {
    height:450px;
    width:680px;
    border:4px solid darkred;
    box-shadow: 0 0 25px red;
    border-radius: 7px;
	text-decoration: none;
	background: rgba(0, 0, 0, 0.6);
}

legend {
  text-align: center;
  background: transparent;
  font-family: 'XOXOGlow', sans-serif;
  color: black;
  font-size: 62px;
  text-shadow: 0 0 25px red;

}

.overbox {
	margin-top: -80px;
	text-align: center;
	background: transparent;
	font-family: 'XOXOGlow', sans-serif;
	color: white;
	font-size: 62px;
	text-shadow: 0 0 25px red;
	z-index: 999;
}
.title {
	font-family: 'Zipper', sans-serif;
	color: white;
	text-shadow: 0 0 25px red;
	font-size: 48px;
	margin-top: -40px;
	text-align: center;
}
 
.subtext {
	font-family: 'Zipper', sans-serif;
	color: white;
	text-shadow: 0 0 25px red;
	font-size: 36px;
	margin-top: 45px;
	text-align: center;
}

.social {
	margin-top: 55px;
	text-align: center;
	font-size: 32px;
	padding: 5px;
}
 
 .center {
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);    
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

/* Volume Slider */
input[type=range] {
  height: 5px;
  -webkit-appearance: none;
  margin: 0.5% 0;
  width: 46%;
  background: none;
  border: none;
  position: fixed;
  left: 26%;
  }
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 25px #6f0000;
  background: #ff3434;
  border-radius: 14px;
  border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 10px #FFFFFF;
  border: 0px solid #000000;
  height: 7px;
  width: 15px;
  border-radius: 14px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 0px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ff3434;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 25px #6f0000;
  background: #ff3434;
  border-radius: 14px;
  border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 10px #FFFFFF;
  border: 0px solid #000000;
  height: 7px;
  width: 15px;
  border-radius: 14px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #ff3434;
  border: 0px solid #000000;
  border-radius: 28px;
  box-shadow: 0px 0px 10px #6f0000;
}
input[type=range]::-ms-fill-upper {
  background: #ff3434;
  border: 0px solid #000000;
  border-radius: 28px;
  box-shadow: 0px 0px 10px #6f0000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 10px #FFFFFF;
  border: 0px solid #000000;
  height: 7px;
  width: 15px;
  border-radius: 14px;
  background: #FFFFFF;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #663399;
}
input[type=range]:focus::-ms-fill-upper {
  background: #663399;
}

/* thanks mystie and whoever else */
/* FontAwesome shit */
.icon a:hover {
   color: #990000;
   transition: color 0.3s linear;
   -webkit-transition: color 0.3s linear;
   -moz-transition: color 0.3s linear;
}
.icon {
	color: darkred;
	text-shadow: 1px 1px 8px #000;
	padding: 15px;
}
.icon .fa-instagram {
  color: white;
}
/* ff69b4 */
.icon .fa-instagram:hover {
  color: #990000;
   transition: color 0.3s linear;
   -webkit-transition: color 0.3s linear;
   -moz-transition: color 0.3s linear;
}
.icon .fa-soundcloud {
  color: white;
}
.icon .fa-soundcloud:hover {
  color: #990000;
   transition: color 0.3s linear;
   -webkit-transition: color 0.3s linear;
   -moz-transition: color 0.3s linear;
}
.icon .fa-steam {
  color: white;
}
.icon .fa-steam:hover {
  color: #990000;
   transition: color 0.3s linear;
   -webkit-transition: color 0.3s linear;
   -moz-transition: color 0.3s linear;
}
.icon .fa-tumblr {
  color: white;
}
.icon .fa-tumblr:hover {
  color: #990000;
   transition: color 0.3s linear;
   -webkit-transition: color 0.3s linear;
   -moz-transition: color 0.3s linear;
}
.icon .fa-twitter {
  color: white;
}
.icon .fa-twitter:hover {
  color: #990000;
   transition: color 0.3s linear;
   -webkit-transition: color 0.3s linear;
   -moz-transition: color 0.3s linear;
}
.icon .fa-twitch {
  color: white;
}
.icon .fa-twitch:hover {
  color: #990000;
   transition: color 0.3s linear;
   -webkit-transition: color 0.3s linear;
   -moz-transition: color 0.3s linear;
}
.icon .fa-youtube-play {
  color: white;
}
.icon .fa-youtube-play:hover {
  color: #990000;
   transition: color 0.3s linear;
   -webkit-transition: color 0.3s linear;
   -moz-transition: color 0.3s linear;
}

a:hover {
	color: #990000;
	   transition: color 0.3s linear;
   -webkit-transition: color 0.3s linear;
   -moz-transition: color 0.3s linear;
}