@font-face {
    font-family: 'vcr_osd_monoregular';
    src: url('vcr_osd_mono_1.001-webfont.html') format('woff2'),
         url('vcr_osd_mono_1.001-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

shadow {
	font-size: 14px;
    text-align: center;
	text-shadow: 1px 1px 8px #000
}

.rainbow {
	animation: rainbow 3s infinite; 
}

/* Chrome, Safari, Opera */
@-webkit-keyframes rainbow{
	7%{color: red;}
	14%{color: orange;}
	21%{color: yellow;}
	28%{color: green;}
	35%{color: blue;}
	42%{color: indigo;}
	49%{color: violet;}
	56%{color: violet;}
	63%{color: indigo;}
	70%{color: blue;}
	77%{color: green;}
	84%{color: yellow;}
	91%{color: orange;}
	98%{color: red;}
}
/* Internet Explorer */
@-ms-keyframes rainbow{
	7%{color: red;}
	14%{color: orange;}
	21%{color: yellow;}
	28%{color: green;}
	35%{color: blue;}
	42%{color: indigo;}
	49%{color: violet;}
	56%{color: violet;}
	63%{color: indigo;}
	70%{color: blue;}
	77%{color: green;}
	84%{color: yellow;}
	91%{color: orange;}
	98%{color: red;}
}

/* Standard Syntax */
@keyframes rainbow{
	7%{color: red;}
	14%{color: orange;}
	21%{color: yellow;}
	28%{color: green;}
	35%{color: blue;}
	42%{color: indigo;}
	49%{color: violet;}
	56%{color: violet;}
	63%{color: indigo;}
	70%{color: blue;}
	77%{color: green;}
	84%{color: yellow;}
	91%{color: orange;}
	98%{color: red;}
}
